<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ItemchildsMapper">
  <resultMap id="BaseResultMap" type="com.loginmodel.loginmodel.domain.Itemchilds">
    <result column="itemid" jdbcType="INTEGER" property="itemid" />
    <result column="childid" jdbcType="INTEGER" property="childid" />
  </resultMap>
  <resultMap id="BaseResultMap_item" type="com.loginmodel.loginmodel.domain.Item">
    <id column="itemid" jdbcType="INTEGER" property="itemid" />
    <result column="itemname" jdbcType="VARCHAR" property="itemname" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
  </resultMap>
  <insert id="insert" parameterType="com.loginmodel.loginmodel.domain.Itemchilds">
    insert into itemchilds (itemid, childid)
    values (#{itemid,jdbcType=INTEGER}, #{childid,jdbcType=INTEGER})
  </insert>
  <select id="selectchilditemsbyid" parameterType="java.lang.Integer" 
  resultMap="BaseResultMap_item">
  select item.itemid,itemname,parentid 
  from item LEFT JOIN itemchilds on item.itemid=itemchilds.childid 
  where itemchilds.itemid=#{itemid,jdbcType=INTEGER};
  </select>
  <insert id="insertSelective" parameterType="com.loginmodel.loginmodel.domain.Itemchilds">
    insert into itemchilds
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        itemid,
      </if>
      <if test="childid != null">
        childid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="childid != null">
        #{childid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>